# Ignore Utilities
.vscode
Cornelius/PythonVenv

# Core Testing
Test/
test/
Stats.py
Lorem/
lorem/
DevCleanup.bat

#Ignore build stuff
msys64/
Building/*/Tests/*Affirm.exe

# No executables allowed, no no.
**/*.exe

# Ignore any leftover PyCache files
__pycache__/
*/.pyc
**/pycache

# Developer Documentation
Documentation/Developer.md
Documentation/.obsidian

# Ignore Bat Scripts
Save.bat
clang.bat
clang++.bat
Hope.bat
Lily.bat